.sounds-list {
  list-style: none;
  margin: 0;
  padding: 25px;
}

.msounds-label {
  margin-bottom: 0px;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(to right, #0983f5 0%, #16f342 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} 