.waveform-container {
  display:flex;
  /* padding-top: 3rem; */
}

#waveform {

    flex: 100%;
      
    /* margin: 1rem; */
    /* padding: 0.5rem; */
    /* padding-bottom: 1rem; */
    background-color: rgb(20, 20, 20);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    text-align: center;
    color: white;

    background-color: rgb(20, 20, 20);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    text-align: center;
    color: white;


    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(232, 232, 232, 0.24);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.11),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.032),
    0 41.8px 33.4px rgba(0, 0, 0, 0.046),
    0 10px 30px rgba(0, 0, 0, 0.12);

    transition: transform .4s ease-out;
}

.controls {
    display: inline-block;
    flex: 1;
    /* margin-right: 40px; */
    margin-top: 10px;
    /* padding:1rem; */
  }
  
  .waveform-container-controls_button {
    position:relative;
    top: 50%;
    transform: translateY(-50%);
  }