.tez-logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.tez-logo-icon img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: 8px;
    height: 32px;
}