.create-sound form{
    max-width: 400px;
    margin: 0 auto;
  }
  .create-sound input,
  .create-sound textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
  }
  .create-sound label{
    display: block;
    margin-top: 24px;
  }
  /* textarea{
    height: 120px;
  } */
  /* .create-sound button{
    margin-top: 20px;
    background: black;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
  } */